language: php

php:
  - 5.6
  - 7.0
  - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_install:
  - travis_retry composer self-update

before_script:
  - composer install --prefer-dist --no-interaction

script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry php vendor/bin/coveralls -v
  - travis_retry bash <(curl -s https://codecov.io/bash)
